<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2017, Mobilyte Tech India Pvt. Ltd. and/or its affiliates. All rights reserved.
  ~     Redistribution and use in source and binary forms, with or without
  ~     modification, are permitted provided that the following conditions are met:
  ~     - Redistributions of source code must retain the above copyright
  ~       notice, this list of conditions and the following disclaimer.
  ~
  ~     - Redistributions in binary form must reproduce the above copyright
  ~       notice, this list of conditions and the following disclaimer in the
  ~       documentation and/or other materials provided with the distribution.
  ~
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.readnews.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ReadNews"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".ui.Sources"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Articles"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI scheme -->
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="${BRANCH_APP_SCHEME}" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter
                android:autoVerify="true"
                tools:ignore="UnusedAttribute">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${BRANCH_HOST}"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="${BRANCH_API_KEY}" />
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" />

        <activity
            android:name=".ui.Article"
            android:parentActivityName=".ui.Sources"
            android:screenOrientation="portrait">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Sources" />

        </activity>
    </application>

</manifest>